/*---------------GLOBAL---------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



:root {
    font-size: 62.5%;
    /* 1rem = 10px*/
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray_500: hsl(0, 0%, 42%);
    --Gray_950: hsl(0, 0%, 7%);

    /* FONT 
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    */
}

body {
    font-family: "Karla", sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--Yellow);

}


/*---------------CARD__CONTAINER---------------*/
.cardContainer {
    width: min(38.6rem, 100%);
    background-color: var(--White);
    border-radius: 20px;
    border: 1px black solid;
    box-shadow: black 7px 7px;

}

/*---------------WRAPPER---------------*/
.cardContainer .wrapper {
    padding-inline: 1.75rem;
    padding-block: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*---------------CARD__CONTAINER__HEADER---------------*/
.cardContainerHeader .cardContainerHeaderImg img {
    border-radius: 15px;
}

.wrapper .cardContainerHeader h3 {
    margin: 2rem 0rem 1rem 0rem;
    display: inline-block;
    font-weight: 900;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    background-color: var(--Yellow);
    border-radius: 5px;
    font-size: 1.4rem;
}



.wrapper .cardContainerHeader p {
    font-size: 1.4rem;
    font-weight: 600;
}

/*---------------CARD__CONTAINER__SECTION---------------*/
.wrapper .cardContainerSection {
    padding: 0.5rem;
    margin-top: 1.5rem;
    font-weight: 900;
}

.wrapper .cardContainerSection h1 {
    font-weight: 900;
    margin-bottom: 2rem;
}

.wrapper .cardContainerSection h1:hover {
    color: var(--Yellow);
    cursor: pointer;
}

.wrapper .cardContainerSection p {
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--Gray_500);
}

/*---------------FOOTER---------------*/
.wrapper .cardContainerFooter {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.wrapper .cardContainerFooter .cardContainerFooterContent {
    display: flex;
    align-items: center;
}

.cardContainerFooter .cardContainerFooterContent img {
    width: 3.5rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.cardContainerFooter .cardContainerFooterContent p {
    font-size: 1.4rem;
    font-weight: 900;
}

@media (max-width:375px) {
    .cardContainer {
        width: min(32rem, 100%);

    }

    .cardContainer .wrapper {
        padding-inline: 1.75rem;
        padding-block: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

     .cardContainerHeader{
        padding-inline: 0.5rem;
     }

    .cardContainerHeader .cardContainerHeaderImg img {
        width: 100%;
        border-radius: 15px;
    }



}